.right{
	right: 0px;
}

.profileimg{
	width: 100%;
	height: 100%;
}


.imgindiv{
	height: 100%;
	width: 100%;
	z-index: -1;
}

.h-100{
	height: 100%;
	width: 20%;

}

.drinkdiv{
	height: 120px;
	width: 120px;
	float: left;
	position: relative;

}

.drinkimg{
	height: 80%;
	width: 80%;
	position: relative;
}

.price{
	width: 50px; 
	height: 50px; 
	z-index: 1; 
	position: absolute; 
	top: 0px; 
	right: 0px; 
	overflow: hidden; 
	background-color: white;
	border: solid;
	border-width: 1px
}
.dname{
	width: 100%; 
	height: 20%; 
	/*z-index: 1; */
	bottom: 0px; 
	position: absolute; 
	background-color: white;
}


.productimgdiv{
	height: 50px;
	width: 50px;
	margin: auto;
}

td{
	vertical-align: middle !important;
	text-align: center;
}

tr{
	text-align: center;
<<<<<<< HEAD
=======
}

/************additions by AsSamhaa****************/
form.form-login { /*login.html*/
	width: 50%;
	margin: 20% auto; /*20% applies to top and bottom, auto to left and right*/
>>>>>>> temp
}